In [1]:
import pandas as pd
from sqlalchemy import create_engine

### Store CSV into DataFrame

In [2]:
data = "csiro_recons_gmsl_yr_2015_csv.csv"
rate_df = pd.read_csv(data)
rate_df.head()

         Time   GMSL  GMSL uncertainty
0  1880-03-15 -158.7              24.2
1  1881-03-15 -153.1              24.2
2  1882-03-15 -169.9              23.0
3  1883-03-15 -164.6              22.8
4  1884-03-15 -143.7              22.2

In [3]:
data2 = "epa-sea-level_csv.csv"
rate2_df = pd.read_csv(data2)
rate2_new_df = rate2_df.drop(columns=['NOAA Adjusted Sea Level'])
rate2_new_df.head()

         Year  CSIRO Adjusted Sea Level  Lower Error Bound  Upper Error Bound
0  1880-03-15                  0.000000          -0.952756           0.952756
1  1881-03-15                  0.220472          -0.732283           1.173228
2  1882-03-15                 -0.440945          -1.346457           0.464567
3  1883-03-15                 -0.232283          -1.129921           0.665354
4  1884-03-15                  0.590551          -0.283465           1.464567

In [5]:
rds_connection_string = "root:3SARAnora@127.0.0.1/sea_level_change"
engine = create_engine(f'mysql+pymysql://{rds_connection_string}')

In [6]:
rate_df.to_sql(name='csiro_recons_gmsl_yr_2015', con=engine, if_exists='append', index=False)

In [7]:
rate2_new_df.to_sql(name='epa_sea_level', con=engine, if_exists='append', index=False)

In [8]:
engine.table_names()

['csiro_recons_gmsl_yr_2015', 'epa_sea_level']

In [9]:
pd.read_sql_query('select * from csiro_recons_gmsl_yr_2015', con=engine).head()

         Time   GMSL  GMSL uncertainty
0  1880-03-15 -158.7              24.2
1  1881-03-15 -153.1              24.2
2  1882-03-15 -169.9              23.0
3  1883-03-15 -164.6              22.8
4  1884-03-15 -143.7              22.2

In [10]:
pd.read_sql_query('select * from epa_sea_level', con=engine).head()

         Year  CSIRO Adjusted Sea Level  Lower Error Bound  Upper Error Bound
0  1880-03-15                  0.000000          -0.952756           0.952756
1  1881-03-15                  0.220472          -0.732283           1.173228
2  1882-03-15                 -0.440945          -1.346457           0.464567
3  1883-03-15                 -0.232283          -1.129921           0.665354
4  1884-03-15                  0.590551          -0.283465           1.464567